* {
    user-select: none;
}

a:link, a:visited {
    text-decoration: none;
}

p {
    margin: 0;
}

h6 {
    margin: 0;
}

h5 {
    margin: 0;
}

body {
    margin: 0;
    overscroll-behavior-y: contain;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}
