a:link, a:visited {
    text-decoration: none;
}

body {
    font-family: Pretendard, RIDIBatang, Arial, sans-serif;;
    margin: 0;
    overscroll-behavior-y: contain;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: RIDIBatang;
    src: url('/public/font/RIDIBatang.otf');
}

@font-face {
    font-family: Pretendard;
    src: url('/public/font/PretendardVariable.woff2');
}
